@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.logo {
    width: 100px;
    height: 100px;
}

#nav {
    background: linear-gradient(90deg, rgba(241, 2, 2, 0.836) 0%, rgb(0, 0, 0)100%);
    box-shadow: 2px #cdcdcd;
}

.navbar-nav .nav-link {
    color: #ff0000;
}

#imgBanner {
    height: 600px;
}

#mainQuemSomos {
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.main-title{
    color: #000;
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Quicksand", sans-serif;
}

.destaque-texto{
    color: rgb(0, 140, 255);
    font-weight: bold;
    font-size: 20px;
}

.destaque{
    color: #000;
    font-size: 14px;
    padding: 15px;
    margin-top: 10px;
}

.icons{
    color: rgb(0, 47, 255);
    font-size: 40px;
    padding-bottom: 10px;
}

#contato{
    margin-bottom: 20px;
}

footer{
    margin-top: 40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.836) 0%, rgb(211, 180, 6)100%);
}

.logo_footer{
    height: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
}
